<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
   <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/> 
    <directoryBrowse enabled="true" />
</system.webServer>
</configuration>
